html {
  height: 100%;
  width: 100%;
  font-weight: 300;
  background: white;
  overflow-y: hidden;
  font-family: helvetica, sans-serif !important;
}

.ng-scope {
  position: relative;
  height: 100%;
}


/*Standard focus outline*/

*:focus {
  outline: none;
}


/*Clear placeholder input on focus*/

input:focus::-webkit-input-placeholder {
  color: transparent;
}

.form-control:focus {
  border-color: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
  color: black;
  border-bottom: 1px solid #ff5419;
}


/*Splash Page settings*/

input:focus::-webkit-input-placeholder {
  transition: color 0.2s ease;
  color: transparent;
}

.landing-logo {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  top: 0;
  -webkit-filter: blur(5px);
  -webkit-transform: translate3d(0, 0, 0);
  overflow: hidden;
  /*// Hide overflow to contain the background*/
}

#submit {
  display: none;
}

.user-form {
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, 0);
  z-index: 9999;
}

.title {
  position: inherit;
  transform: translate(-50%, 0);
  background: none;
  top: 1%;
  left: 50%;
  color: white;
  font-size: 10em;
  font-weight: bold;
  z-index: 9999;
  opacity: 0.8;
}

.subtitle {
  position: inherit;
  background: none;
  transform: translate(-50%, 0);
  top: 25%;
  width: 90%;
  color: white;
  font-size: 4em;
  font-weight: 600;
  z-index: 9999;
  left: 50%;
  opacity: 0.9;
}

.userText {
  background: none;
  color: white;
  font-size: 5em;
  margin-top: 26%;
  font-weight: 300;
  text-align: center;
  padding-top: 40px;
}


/*Placeholder for Splash Page */


/*Change placeholder color*/

.inputSearch::-webkit-input-placeholder {
  color: white;
  opacity: 0.8;
  font-size: 40px;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: white;
  opacity: 0.8;
  font-weight: 600;
  font-size: 0.9em;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: white;
  opacity: 0.8;
  font-weight: 600;
  font-size: 0.9em;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: white;
  opacity: 0.8;
  font-weight: 600;
  font-size: 0.9em;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
  opacity: 0.8;
  font-weight: 600;
  font-size: 0.9em;
}


/*Initial Container values for Home page*/

.container,
.inputSearch {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}


/*Chat and playlist alignments*/

.chat,
#playlist {
  margin-top: 10px;
  position: relative;
  width: 49.5%;
  height: 79vh;
  background: rgb(50, 55, 50);
}


/*Chat*/

.chat {
  overflow-y: scroll;
  border-radius: 3px;
}

#msg-output {
  height: 89%;
  overflow: scroll;
}

.msg-input {
  float: left;
  top: 90%;
  width: 100%;
  height: 10%;
}

.chatMsgSend {
  position: relative;
  float: right;
  border-style: none;
  font-weight: 500;
  height: 100%;
  width: 19%;
  color: white;
  right: 0.5%;
  border-radius: 3px;
  background: linear-gradient(180deg, #323732, #2b2721);
  transition: background-color 0.4s ease;
  border: 1px solid white;
}

.chatMsgSend:hover {
  background: #ff5419;
  color: white;
}

.userMsg {
  font-family: sans-serif;
  size: 2em;
  height: 100%;
  color: white;
  padding-left: 3%;
  margin-left: 0.7%;
  border-radius: 3px;
  border: 1px solid white;
  width: 79%;
  background: linear-gradient(180deg, #323732, #2b2721);
}

.userMsg::-webkit-input-placeholder {
  size: 2em;
  font-weight: 500;
  color: white;
}

.text-form {
  height: 100%;
}


/*Playlist*/

.progress {
  background: none;
  max-width: 70%;
  margin-top: 1%;
  margin-left: 20%;
  border-top-radius: 0;
}

._md-container {
  border-radius: 0;
}


/*Playlist close tab*/

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: "\f00d";
  border-radius: 2px;
  padding: 4px;
}

.fa-remove:hover:before,
.fa-close:hover:before,
.fa-times:hover:before {
  background: #2b2721;
}

.emptyList {}

#playlist {
  overflow: scroll;
  border-bottom: 1px solid white;
  float: left;
  border-radius: 3px;
  background: #323732;
}

#playlist > p:first-child {
  color: white;
  text-align: center;
  margin-top: inherit;
  font-size: 1.3em;
  width: 100%;
  padding-top: 5px;
  height: 35px;
  background: #2c2a25;
  border-radius: 4px;
}

.separator {
  margin-top: 4%;
  border-color: #ff5419;
}

.tracks {
  margin-top: -1%;
}

.track {
  position: relative;
  cursor: auto;
  margin-top: 9px;
  height: 70px;
  list-style-type: none;
  background: #2b2721;
  transition: background 0.4s ease;
}

.track:hover {
  background: rgba(102, 98, 92, 0.3);
}

.songCoverPL,
.singerTitle,
.singerName,
.releaseYear {
  position: relative;
}

.close-song {
  position: absolute;
  left: 95.5%;
  color: orange;
  font-size: 1.2em;
  top: 13%;
}

.playOne {
  position: absolute;
  top: 31%;
  left: 2.5%;
  font-size: 2em;
}

.songCoverPL {
  border-radius: 3px;
  width: 60px;
  height: 50px;
  left: 7px;
  top: 11px;
}

.singerTitle,
.singerName,
.releaseYear {
  font-weight: 500;
  color: orange;
}

.singerTitle {
  font-size: 14px;
  left: 10px;
  top: -7px;
}

.singerName {
  left: 73px;
  top: 24px;
  position: absolute;
}

ul {
  padding: 0;
  list-style-type: none;
}


/*Chat - Baloon settings*/

.message {
  position: relative;
  border: 1px;
  display: block;
  word-break: break-word;
  font-size: 1.1em;
  max-width: 50%;
  padding: 6px;
  color: #fff;
  border-radius: 5px;
  border-bottom: 1px solid rgba(187, 187, 187, 0.7);
}

.message.subtitle {
  margin: 12px -5px 10px 43s%;
  background: rgba(255, 165, 0, 0.6);
}

.message.left {
  margin: 12px -5px 10px 10px;
  background: rgba(255, 84, 25, 0.6);
}

.message.right {
  margin: 12px 2% 10px 50%;
  background: rgba(255, 165, 0, 0.9);
}

.msg-output {
  overflow-y: scroll;
}


/*Chat is typing*/

.isTyping {
  position: fixed;
  font-size: 2em;
  font-size: 1em;
  z-index: 9999;
  font-weight: 300;
  left: 85%;
  top: 75%;
  background: none;
  color: rgb(255, 84, 25);
}

.isTyping:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: "\2026";
  /* ascii code for the ellipsis character */
  width: 0px;
}


/*Hover elements*/

.msgInput > .userMsg:hover,
#messages:hover,
.inputSearch:hover,
.userText:hover,
.message:hover,
.playList:hover {
  border-color: #ff5419;
}


/*Search*/

.inputSearch {
  border-radius: 0;
  width: 40%;
  margin-left: 30%;
  text-align: center;
  font-size: 2em;
  font-weight: 200;
  color: white;
  font-family: sans-serif;
  background: none;
}

.inputSearch::-webkit-input-placeholder {
  font-family: sans-serif;
  font-weight: 300;
  color: black;
}

.userText,
.inputSearch {
  border-bottom: 1px solid #ff5419;
  border-right: none;
  border-left: none;
  border-top: none;
  outline: none;
  box-shadow: none;
}

.userText {
  border-bottom: 3px solid #ff5419;
}


/*Player*/

.fa-play:before {
  margin-left: 10px;
  content: "\f04b";
  color: #ff5419;
}

.fa-pause:before {
  margin-left: 6px;
  content: "\f04c";
  color: #ff5419;
}

.fa-step-forward:before {
  margin-left: 5px;
  content: "\f050";
  color: #ff5419;
}

.showPlay,
.showPause,
.showNext {
  position: absolute;
  margin-top: 1%;
  border-radius: 100%;
  border-bottom: 1px solid #ff5419;
  padding: 10px;
  width: 70px;
  background: none;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
}

.showPlay {
  margin-left: 15px;
}

.showPause {
  margin-left: 105px;
}

.showNext {
  margin-left: 195px
}

.showPlay:hover,
.showPause:hover,
.showNext:hover {
  opacity: 0.3;
}


/*Button Wrapper*/

/*.btnWrapper {
  background: rgb(50, 55, 50);
  margin-top: 10px;
  width: 100%;
  height: 400px;
  transition: border-top 0.3s ease;
}*/

.btnWrapper {
    position: fixed;
    background: rgb(50, 55, 50);
    margin-top: 10px;
    width: 100%;
    bottom: 0px;
    height: 100px;
    transition: border-top 0.3s ease;
}

.btnWrapper:hover {
  border-top: 1px solid #ff5419;
}


/*MEDIA*/
@media only screen and (min-width: 1536) {
  .userText {
    margin-top: 50%;
    font-size: 5em;
  }

  .subtitle {
    font-size: 5em;
  }
}
@media only screen and (max-width: 1440px) {
  .container {
    /*flex-direction: row;*/
  }
  .close-song {
    left: 93%;
  }
  .playOne {
    left: 2.5%;
  }
  .chat,
  #playlist {
    margin-top: 10px;
    width: 49.5%;
    height: 77vh;
    background: rgb(50, 55, 50);
  }
  .inputSearch {
    margin-left: 27%;
    width: 46%;
  }
}

@media only screen and (max-width: 1280px) and (max-height: 950px) {
  .container {
    /*flex-direction: row;*/
  }
  .close-song {
    left: 93%;
  }
  .userText {
    margin-top: 35%;
    font-size: 5em;
  }
  .playOne {
    left: 2.5%;
  }
  .chat,
  #playlist {
    margin-top: 10px;
    width: 49.5%;
    height: 76vh;
    background: rgb(50, 55, 50);
  }
  .inputSearch {
    margin-left: 27%;
    width: 46%;
  }
}

@media only screen and (max-width: 1024px) {
  #submit {
    display: none;
  }
  .playOne:before {
    margin-left: 8px;
  }
  .close-song {
    left: 93%;
  }
  .playOne {
    left: 4%;
  }
  .chat,
  #playlist {
    margin-top: 10px;
    width: 49.5%;
    height: 74.5vh;
    background: rgb(50, 55, 50);
  }
  .inputSearch {
    margin-left: 27%;
    width: 46%;
  }
  .userText {
    margin-top: 250px;
  }
}

@media only screen and (max-device-width: 769px) and (-webkit-min-device-pixel-ratio: 2) {
  #submit {
    display: inline;
    height: 130px;
    font-size: 4em;
    margin-top: 60px;
    width: 100%;
    color: #ff5419;
    background: transparent;
    border: 3px solid #ff5419;
    border-radius: 10px;
    font-weight: 500;
  }
  .container {
    flex-direction: column;
    align-items: center;
  }
  .chat,
  #playlist {
    height: 37.5vh;
    border-radius: 4px;
    width: 90%;
  }
  #playlist {
    margin-top: 80px;
  }
  .userText {
    margin-top: 70%;
  }
  #msg-output {
    height: 80%;
  }
  .msg-input {
    height: 18%;
  }
  .playOne {
    left: 2.5%;
  }
  .userMsg {
    height: 100%;
  }
  .inputSearch {
    position: fixed;
    margin-bottom: 50px;
    font-size: 1.7em;
  }
}

@media only screen and (max-device-width: 475px) and (max-device-height: 740px) and (-webkit-min-device-pixel-ratio: 2) {
  #playlist > p:first-child {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 1.4em;
  }
  .closeSong {
    left: 96%;
  }
  .title {
    top: 6%;
    font-size: 14em;
  }
  .inputSearch {
    font-size: 2em;
  }
  ::-webkit-input-placeholder {
    font-size: 0.95em;
    width: 70%;
    margin-left: 15%;
  }
  .subtitle {
    font-size: 6em;
  }
  #submit {
    margin-top: 140px;
    font-size: 4.5em;
    font-weight: bold;
  }
  .chat,
  #playlist {
    height: 44.2vh;
    border-radius: 4px;
    width: 98%;
  }
  #msg-output {
    height: 86%;
  }
  .userMsg,
  .userMsg::-webkit-input-placeholder {
    font-size: 1.1em;
    font-weight: 500;
    padding: 10px 0 0 20px;
    font-family: sans-serif !important;
    color: white;
  }
  .userText {
    font-size: 4.8em;
    width: 700px;
    margin-top: 432px;
  }
  .message.left,
  .message.right {
    font-size: 2.2em;
  }
  .msg-input {
    height: 12%;
    font-size: 1.7em;
  }
  .singerTitle {
    font-size: 1.6em !important;
    left: 16px;
    top: -5px;
  }
  .singerName {
    left: 9.2%;
    top: 30px;
    font-size: 1.4em !important;
  }
  .chatMsgSend {
    font-size: 1.3em;
    font-weight: 400;
  }
  .songCoverPL {
    border-radius: 3px;
    width: 70px;
    height: 61px;
    left: 5px;
    top: 4px;
  }
}

@media only screen and (max-device-width: 375px) and (-webkit-min-device-pixel-ratio: 2) {
  .singerName {
    left: 10.2%;
    top: 30px;
  }
  .chat,
  #playlist {
    height: 44.2vh;
    border-radius: 4px;
    width: 98%;
  }
  #playlist > p:first-child {
    margin: 0;
    height: 48px;
    font-size: 1.7em;
    margin-bottom: 20px;
  }
}
