<!-- Search field -->
<div>
  <div>
    <form ng-submit="findArtist()">
      <input type="text" ng-model="searchArtist" class="form-control input-lg inputSearch" placeholder="Search for &nbsp{{ options }} " />
    </form>
  </div>
  <!-- Chat and Playlist segments -->
  <div class="container">
    <div id="playlist">
      <p> Search for songs to add to your playlist </p>
      <ul class="tracks">
        <li class="track" ng-click='letsPlay()' ng-repeat='track in playListFinal'>
          <img class="songCoverPL" src="{{track.artwork}}" />
          <span class="singerTitle">Title: {{track.title}}</span>
          <span class="singerName">Artist: {{track.name}}</span>
          <i class="fa fa-play fa-1x playOne" ng-click="playChosen(this.track)" aria-hidden="true"></i>
          <i class="fa fa-times close-song" aria-hidden="true" ng-click='rmvPlayListItem(this.track)'></i>
        </li>
      </ul>
    </div>
    <!-- Populate Messages -->
    <!-- Chats -->
    <div class="chat">
      <!-- Populate Messages li-->
      <div id="msg-output">
        <ul id="messages">
          <li class="message" ng-repeat="chatMessage in chatMessages track by $index" ng-class="chatMessage.split(':')[0] === user ? 'left' : 'right'">{{ chatMessage }}</li>
        </ul>
        <p class="isTyping" ng-show="checkTyping">{{typingMessage}}</p>
      </div>
      <!-- Submit Message -->
      <div class="msg-input">
        <form ng-submit="chatSend()" class="text-form">
          <input class="background userMsg" type="text" ng-change="updateTyping()" ng-model="chatMsg" autocomplete="off" autofocus placeholder="Type your message in here" />
          <input class="chatMsgSend background" type="submit" ng-submit="chatSend()" value="Send">
        </form>
      </div>
    </div>
  </div>
  <!-- **************  PLAYER   ******************-->
  <div class='player'>
    <div class="windowImg">
      <div class="btnWrapper">
        <div class="playButton">
          <i class="fa fa-play fa-3x showPlay" ng-click="playBottom()" aria-hidden="true"></i>
        </div>
        <div class="pauseButton">
          <i class="fa fa-pause fa-3x showPause" ng-click="pause()" aria-hidden="true"></i>
        </div>
        <div class="nextButton">
          <i ng-click="next()" class="fa fa-step-forward fa-3x showNext" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
</div>
