<img class="landing-logo" src="../assets/BUSHgiphy.gif">
<div>
  <p class="title text-center">uHerd.me</p>
  <p class="subtitle text-center">Search for the music you like and share it live while chatting with all your friends anywhere in the world!</p>
  <form ng-submit="submit()" class="user-form" align="center" important>
    <input type="text" align="center" ng-model="text" name="text" class="userText text-center" autocomplete="off" placeholder="enter your username" />
    <input type="submit" id="submit" value="Enter Tunechat" />
  </form>
  <h3 class="footerMsg"></h3>
</div>

